.container {
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  #header-main {
    margin-bottom: 3rem;
  }

  .image {
    align-self: center;
    max-width: 25rem;
    margin-bottom: 1rem;
  }

  #article-about {
    max-width: 45rem;
    align-self: center;
  }

  #article-technologies {
    border-top: 1px dotted white;
    border-bottom: 1px dotted white;
    margin: 2rem 0;
    padding: 2rem 0;
    align-items: center;

    ul {
      margin: 2rem 0;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      justify-content: space-between;
      justify-items: center;
      li {
        font-size: 1.5rem;
        margin: 0.4rem 0rem;
      }
    }
  }

  #article-experience {
    display: flex;
    flex-direction: column;
    align-items: center;

    ul {
      margin: 2rem 0;
      li {
        padding: 0.6rem 0;
        height: 6rem;
        border-top: 1px solid white;
        max-width: 30rem;
      }
    }
  }
}

@media screen and (min-width: 920px) {
  .container {
    display: grid;
    grid-template-areas:
      "head-main head-main"
      "img article-about"
      "article-technologies article-technologies"
      "article-my-it-experience article-my-it-experience";
    justify-content: space-between;

    #header-main {
      grid-area: head-main;
    }

    .image {
      grid-area: img;
      justify-self: center;
    }

    #article-about {
      grid-area: article-about;
    }

    #article-technologies {
      grid-area: article-technologies;
    }

    #article-experience {
      grid-area: article-my-it-experience;
      display: grid;
      grid-template-areas:
        "head head head"
        "paragraph paragraph paragraph"
        "tech analytics business";
      justify-content: space-between;
      justify-items: center;
      column-gap: 1rem;

      #article-experience-header {
        grid-area: head;
      }
      #article-experience-paragraph {
        grid-area: paragraph;
      }
      #article-experience-article-tech {
        grid-area: tech;
      }
      #article-experience-article-analytics {
        grid-area: analytics;
      }
      #article-experience-article-business {
        grid-area: business;
      }

      ul {
        margin: 0;
        li {
          margin: 0;
        }
      }
    }
  }
}
