/* Variables */

$box-width: 38rem;
$box-height: 30rem;
$box-bg-color: #40abee;

/* Styles */

.container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  .box {
    background-color: $box-bg-color;
    opacity: 71%;
    width: $box-width;
    min-height: $box-height;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: relative;

    &::before {
      content: "";
      width: $box-width;
      height: $box-height;
      position: absolute;
      top: 15px;
      left: -15px;
      opacity: 35%;
      background-color: $box-bg-color;
      border-radius: inherit;
    }

    .box__header {
      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        height: 1px;
        width: 5rem;
        background-color: white;
      }
      &::after {
        content: "";
        position: absolute;
        top: 50%;
        right: 0;
        height: 1px;
        width: 5rem;
        background-color: white;
      }
    }
  }
  .list {
    list-style-type: none;

    padding-top: 0.4rem;
    &__item {
      margin: 0.6rem;
      font-size: 1.3rem;
      font-weight: 300;
      text-align: center;
      position: relative;

      &:hover {
        font-weight: 400;
      }
    }
  }
}
